<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href="/css/header-style.css" rel="stylesheet">
  <link href="/css/signup-body.css" rel="stylesheet">
  <title>회원가입</title>
</head>
<body>
  <div class="container">   <!-- Container Start -->
    <div class="header"><h1><a th:onclick="|location.href='@{/}'|">GoGo Tennis</a></h1>   <!-- Header Start -->
      <div class="nav">
        <ul>
          <li><a th:onclick="|location.href='@{/members/login}'|">로그인</a></li>
        </ul>
      </div>
    </div> <!-- Header End -->

    <div class="signup">  <!-- signup body start -->
      <h3>회원 가입 페이지</h3>
      <form role="form" th:object="${member}" action="/members/new" method="post"> <!-- signup form -->
        <div class="form-group">
          <label id="login_id" th:for="loginId">아이디: </label>
          <input type="text" class="form-control" th:field="${member.loginId}"
                 placeholder="아이디를 입력해주세요."/>
          <div class="field-error" th:errors="${member.loginId}"></div>
        </div>
        <div class="form-group">
          <label id="password" th:for="password">비밀번호: </label>
          <input type="password" class="form-control" th:field="${member.password}"
                 placeholder="비밀번호를 입력해주세요."/>
          <div class="field-error" th:errors="${member.password}"></div>
        </div>
        <div class="form-group">
          <label id="nickname" th:for="nickname">닉네임: </label>
          <input type="text" class="form-control" th:field="${member.nickname}"
                 placeholder="닉네임을 입력해주세요."/>
          <div class="field-error" th:errors="${member.nickname}"></div>
        </div>
        <div class="form-group">
          <label id="email" th:for="email">이메일: </label>
          <input type="email" class="form-control" th:field="${member.email}"
                 placeholder="이메일을 입력해주세요."/>
          <div class="field-error" th:errors="${member.email}"></div>
        </div>

        <button type="submit" class="button-submit">회원가입</button>
      </form> <!-- signup form end -->
    </div> <!-- signup body end -->

  </div> <!-- Container End -->

</body>
</html>