.container .side-menu{
  font-family: 'Noto Sans KR', sans-serif;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 100%;
  align-items: center;
  display: inline-block;
  border-right-style: solid;
  border-right-color: rgba(0,0,0,0.3);
  border-right-width: 3px;
}

.container .side-menu h3{
  text-align: center;
}

.container .side-menu ul{
  text-align: right;
  list-style: none;
  margin-right: 18%;
}