<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type>" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap"
        rel="stylesheet">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.1.js"
          integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
          crossorigin="anonymous"></script>
  <link href="/css/header-style.css" rel="stylesheet">
  <title>Home</title>
</head>
<body>
  <div class="container">   <!-- Container Start -->
    <div class="header"><h1><a th:onclick="|location.href='@{/}'|">GoGo Tennis</a></h1>   <!-- Header Start -->
      <div class="nav">
        <ul>
          <li th:if="${session.loginMember == null}">
            <a th:onclick="|location.href='@{/members/new}'|">회원가입</a>
          </li>
          <li th:if="${session.loginMember == null}">
            <a th:onclick="|location.href='@{/login}'|">로그인</a>
          </li>
          <li th:if="${session.loginMember != null}">
            <a th:onclick="|location.href='@{/members/profile}'|">프로필</a>
          </li>
          <li th:if="${session.loginMember != null}">
            <a th:onclick="|location.href='@{/logout}'|">로그아웃</a>
          </li>
        </ul>
      </div>
    </div> <!-- Header End -->

  </div> <!-- Container End -->
</body>
</html>